[Desktop Entry]
Type=Service
Icon=application-pdf
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;
Actions=thisIcon;
Encoding=UTF-8

[Desktop Action thisIcon]
Name=Unite pdfs
Icon=application-pdf
Exec=pdfunite %F "all.pdf"
