[Desktop Entry]
Type=Service
Icon=image-x-icon
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;
Actions=thisIcon;
Encoding=UTF-8

[Desktop Action thisIcon]
Name=Use this as folder icon
Icon=image-x-icon
Exec=useThisAsIcon.sh "%f" 
